@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    /* Colors */
    --primary-color: #666;
    --secondary-color: #57b846;
    --third-color: #333;
    --accent-color: #999;
    --background-color: #9053c7;
    --secondary-background-color: #e6e6e6;
    --default-color: #fff;
    --alert-color: #c80000;
}

/* Global Box Sizing */
/* In addition to resetting the margin, this rule also sets padding: 0 and box-sizing: border-box for all elements, including their ::before and ::after pseudo-elements. This ensures consistent box-sizing behavior and removes any default padding that may be applied by certain elements. */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

