:root {
    --primary-color: #666;
    --secondary-color: #57b846;
    --third-color: #333;
    --accent-color: #999;
    --background-color: #9053c7;
    --input-background-color: #e6e6e6;
    --default-color: #fff;
    --alert-color: #c80000;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

.member-login {
    height: 100vh;
    padding: 0 2.5rem 0 2.5rem;
    background-color: var(--default-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.member-login__figure {
    flex: 1;
}
  
  .member-login__form {
    flex: 1;
}

h1 {
    color: var(--third-color);
    line-height: 1.2;
    padding: 0 0 3rem 0;
}

a, i {
    color: var(--primary-color);
}

span {
    color: var(--accent-color);
}

input {
    background-color: var(--input-background-color);
    padding: 1rem 1rem 1rem 3rem;
    width: calc(100% - 4rem);
}

@keyframes inputFocusAnimation {
    0% {
      box-shadow: 0 0 0 0 var(--secondary-color);
    }
    100% {
      box-shadow: 0 0 70px 25px rgba(0, 0, 0, 0);
    }
}

.member-login__input:focus {
    animation: inputFocusAnimation 0.5s ease-in-out;
    outline: none;
}

button, h1 {
    text-align: center;
}

button {
    color: var(--default-color);
    background-color: var(--secondary-color);
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 1rem 1rem 0;
    transition: background-color 0.3s ease;
}

.member-login__button:hover {
    background-color: var(--third-color);
}


input, button {
    font-size: 1em;
    border: none;
    border-radius: 25px;
}

 button, a {
    cursor: pointer;
}

a {
    text-decoration: none;
}

span, a {
    font-size: 0.8em;
}

.member-login__label {
    position: relative;
}
  
.member-login__icon {
    padding: 0.5rem;
    position: absolute;
    margin: 0 0.6rem 0 0.6rem;
}
      
.member-login__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.member-login__form > .member-login__create-account {
    margin: 3rem 0 0 0;
}

.member-login__icon.fa-envelope {
    top: 50%;
    transform: translateY(-50%);
}
  
.member-login__icon.fa-lock {
    top: calc(50%);
    transform: translateY(-50%);
}

.member-login__input:focus ~ .member-login__label .fa-solid {
    color: #57b846;
    transition: color 0.3s ease;
}

.member-login__forgot, .member-login__create-account {
    text-align: center;
}

.member-login__forgot-link,
.member-login__create-account {
    transition: color 0.3s ease;
}



.member-login__forgot-link:hover,
.member-login__create-account:hover {
    color: var(--secondary-color);
}


.member-login__image {
    transition: transform 0.3s;
}

.member-login__image:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .member-login__figure {
      display: none;
    }
}
  
  